*  {
    box-sizing: border-box;
    user-select: none;
}
body {
      background: url('bacg2.gif');
      background-size: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
#container_game {
    overflow: hidden;
    width: 900px;
    height: 500px;
    border: 1px solid rgb(0, 14, 95);
    margin: auto;
    background: url('bacg3.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

.score {
    position: absolute;
    top: 110px;
    right: 100px;
    font-size: 19px;
    color: brown;
}
.endDino{
  width: 200px;
  height: 200px;
  display: none;
  background: url('WellinformedJadedAphid.webp') no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50% , -50%);
}
.GameOn {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50% , -50%);
    font-size: 25px;
    color: brown;
    font-weight: bolder;
    font-family: cursive;
    justify-content: center;
}
#gameOver {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gradient-btn-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    padding: 5px 10px;
    font-size: 1.3rem;
    background: #e7eef1;
    border:solid 5px transparent;
    border-image: linear-gradient(to top right, #7FFF00,#A52A2A);
    border-image-slice: 1;
    color: orangered;
    transition: all 0.2s ease-in-out;
}

.gradient-btn-1:hover {
    background-image: linear-gradient(to top right, #7FFF00, #A52A2A);
    color: white;
}

.dino_object {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 340px;
    left: 100px;
}

.dinoJump {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 340px;
  left: 100px;
  animation: dino_jump 0.8s ;
}
@keyframes dino_jump {
    0% {
        top: 340px;
    }

    25% {
        top: 100px;
    }

    50% {
        top: 100px;
    }

    75% {
        top: 100px;
    }

    100% {
        top: 340px;
    }
}
.enemy_object {
    width: 60px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 800px;
}

.enemy_object_order {
    width: 60px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 800px;
    animation: enemyMove 1s infinite linear;
}

@keyframes enemyMove {
    0% {
        left: 800px;
    }

    100% {
        left: -80px;
    }
}
